.navigation {
  margin-top: 10px;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: left;
  margin-right: 10px;
}

label.error {
  color: #ff0000;
  margin-left: 10px;
}

#progressbar {
  margin: 10px 0;
  width: 400px;
  height: 15px;
}

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}
