body {
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
  font-size: 62.5%;
}

#wrapper {
  font-size: 1.2em;
  line-height: 1.6em;
}

h1 {
  background-color: #333;
  color: #fff;
  font-size: 2.0em;
  margin: 0;
  padding: 10px;
}

h3 span {
  font-weight: normal;
}

.example {
  background-color: #eee;
  border: #aaa 1px solid;
  margin: 10px;
  padding: 10px;
}

.ui-wizard .step {
  background-color: #fff;
  border: #aaa 1px solid;
  margin: 10px 0;
  padding: 10px;
}

.ui-wizard .pink {
  background-color: #E88798;
  border-color: #fff;
  color: #fff;
}

.ui-wizard .pink p {
  font-size: 1.4em;
  font-weight: bold;
}

.ui-wizard .blue {
  background-color: #80ADDA;
  border-color: #fff;
  color: #fff;
}

.ui-wizard .blue p {
  font-size: 1.4em;
  font-weight: bold;
}

.navigation {
  margin-top: 10px;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: left;
  margin-right: 10px;
}

label.error {
  color: #ff0000;
  margin-left: 10px;
}

#progressbar {
  margin: 10px 0;
  width: 400px;
  height: 15px;
}

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}
